<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/about.css">

    <script src="//code.jivo.ru/widget/3FhhTRVfC7" async></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=64550a24-6111-49dd-bd33-2d234e43ce27&lang=ru_RU"></script>
    <script src="assets/js/map.js"></script>
    <script src="assets/js/scroll.js"></script>
    <script src="assets/js/burger.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="assets/img/logo.svg">

    <title>О компании ТК Идеал | Профессиональные воздушные и дорожные грузоперевозки</title>
    <meta name="description" content="Узнайте больше о компании ТК Идеал, предоставляющей профессиональные воздушные и дорожные грузоперевозки. Мы обеспечиваем надежную доставку грузов в регионах по всей России и в Московской области.">
    <meta name="keywords" content="о компании тк идеал, воздушные грузоперевозки, дорожные грузоперевозки, грузоперевозки в России, грузоперевозки в Москве, грузоперевозки из Москвы, грузоперевозки в Московской области">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(33471873, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
    <noscript><div><img src="https://mc.yandex.ru/watch/33471873" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header_content">
                <a href="/" class="header_content_logo">
                    <img src="assets/img/logo.svg" alt="">
                </a>
                <div class="header_content_navigation">
                    <nav>
                        <ul class="navigation_ul">
                            <li class="navigation_ul_li">
                                <a href="/">Главная</a>
                            </li>
                            <li id="calc_href" class="navigation_ul_li">
                                <a href="/#calculate">Калькулятор</a>
                            </li>
                            <li class="navigation_ul_li">
                                <a href="/rates">Тарифы</a>
                            </li>
                            <li class="navigation_ul_li">
                                <a href="/request">Заявка</a>
                            </li>
                            <li class="navigation_ul_li">
                                <a href="/about">О компании</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <button class="header_burger_btn" id="burger">
                    <span></span><span></span><span></span>
                </button>
            </div>
        </div>
    </header>

    <main>
        <section class="about_company">
            <div class="container">
                <div class="about_company_text">
                    <h1>ООО «ТК Идеал»</h1>
                    <p>
                        ТК "Идеал" — ведущая компания в сфере грузоперевозок автомобильным и авиационным транспортом. 
                        Основанная в 2016 году, она уже утвердила себя как надежный и профессиональный партнер в области логистики.
                    </p>
                    <p>
                        С первых дней своей деятельности ТК "Идеал" установила высокие стандарты качества и безопасности, что стало основой для ее стабильного роста и укрепления позиций на рынке. 
                        Компания гордится своими высококвалифицированными сотрудниками, чья экспертиза и профессионализм гарантируют успешное и эффективное выполнение грузоперевозок.
                    </p>
                    <p>
                        Одним из ключевых преимуществ ТК "Идеал" является наличие собственного автопарка. 
                        Владение собственными транспортными средствами позволяет компании обеспечить гибкость и надежность в доставке грузов, а также контролировать каждый этап перевозки. 
                        Наш автопарк состоит из современных и надежных автомобилей, обеспечивающих сохранность и безопасность груза во время транспортировки.
                    </p>
                    <p>
                        Обратившись к нам за услугами грузоперевозок, вы получите целый ряд преимуществ. 
                        Во-первых, мы гарантируем точное и своевременное исполнение всех заказов, строго соблюдая сроки и требования клиента. 
                        Во-вторых, наша компания предлагает конкурентоспособные цены, оптимизируя затраты и обеспечивая наилучшее соотношение цены и качества. 
                        В-третьих, мы уделяем особое внимание безопасности грузов и соблюдаем все необходимые стандарты и нормативы, чтобы гарантировать их неприкосновенность.
                    </p>
                    <p>
                        Кроме того, ТК "Идеал" предлагает своим клиентам полный спектр логистических услуг, включая консультационную поддержку, помощь в выборе оптимальных маршрутов и транспортных средств, а также оперативную отчетность о ходе перевозки.
                    </p>
                    <p>
                        Наша компания стремится устанавливать новые стандарты в сфере грузоперевозок, предлагая надежность, профессионализм и превосходное качество обслуживания. 
                        Мы нацелены на удовлетворение потребностей даже самых требовательных клиентов, предоставляя индивидуальный подход и постоянную связь на всех этапах сотрудничества.
                    </p>
                    <p>
                        Команда ТК "Идеал" состоит из опытных и преданных профессионалов, готовых к решению самых сложных логистических задач. 
                        Мы понимаем, что каждый груз имеет свои особенности и требования, поэтому мы тщательно планируем и организуем каждую перевозку, учитывая все аспекты, начиная от типа груза и его размеров, и заканчивая требованиями клиента и спецификой маршрута.
                    </p>
                    <p>
                        Обращаясь к нам, вы можете быть уверены в надежности и эффективности наших услуг. Мы стремимся к установлению долгосрочных партнерских отношений с нашими клиентами, предлагая им высокий уровень сервиса, прозрачность взаимодействия и оперативное решение любых возникающих вопросов.
                    </p>
                    <p>
                        ТК "Идеал" — это компания, которая объединяет надежность, профессионализм и индивидуальный подход. 
                        Мы готовы стать вашим надежным партнером в сфере грузоперевозок, обеспечивая безопасную, своевременную и эффективную доставку грузов. 
                        Обратившись к нам, вы выбираете оптимальное соотношение цены и качества, ориентацию на ваши потребности и надежность исполнения. Мы готовы воплотить ваши логистические задумки в реальность и превзойти ваши ожидания.
                    </p>
                </div>

                <div class="about_company_certificates">
                    <h1>Сертификаты</h1>
                    <div class="images_certificates">
                        <img src="/assets/img/c_2022.png" alt="">
                        <img src="/assets/img/c_2023.png" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <div class="footer_content">
                <div class="info_company">
                    <img src="/assets/img/logo2.png" alt="">
                    <div class="text_info_block">

                        <div class="text_info">
                            <h1>Адрес:</h1>
                            <p>Домодедово Карго Территория аэропорт Домодедово, 7, 2 этаж</p>
                        </div>

                        <div class="text_info">
                            <h1>Email:</h1>
                            <p>info@aviaperevozki.pro</p>
                        </div>

                        <div class="text_info">
                            <h1>Телефон:</h1>
                            <p>+7 (495) 741-11-23</p>
                        </div>

                        <div class="text_info">
                            <p>© 2016-2023.</p>
                        </div>
                    </div>
                </div>

                <div class="footer_url">
                    <h1>Сервисы</h1>
                    <nav>
                        <ul class="footer_ul">
                            <li class="footer_ul_li">
                                <a href="/auto">Дорожные перевозки</a>
                            </li>

                            <li class="footer_ul_li">
                                <a href="/air">Воздушные перевозки</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="footer_url">
                    <h1>Соцсети</h1>
                    <nav>
                        <ul class="footer_ul">
                            <li class="footer_ul_li">
                                <a href="https://vk.com/tk_ideal">Вконтакте</a>
                            </li>

                            <li class="footer_ul_li">
                                <a href="https://t.me/+79296701240">Telegram</a>
                            </li>

                            <li class="footer_ul_li">
                                <a href="https://wa.me/79296701240">WhatsApp</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div id="map-test" class="map"></div>
            </div>
        </div>
    </footer>
</body>
</html>