<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/index.css">

    <script src="//code.jivo.ru/widget/f0vKcznqMe" async></script>

    <script src="https://api-maps.yandex.ru/2.1/?apikey=64550a24-6111-49dd-bd33-2d234e43ce27&lang=ru_RU"></script>
    <script src="assets/js/map.js"></script>
    <script src="assets/js/scroll.js"></script>
    <script src="assets/js/animation_dig.js"></script>
    <script src="assets/js/animation_person.js"></script>
    <script src="assets/js/burger.js"></script>
<!--    <script src="assets/js/calculator.js}"></script>-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="assets/img/logo.svg">
    <title>Воздушные и дорожные грузоперевозки в России | ТК Идеал</title>
    <meta name="description" content="ТК Идеал предоставляет надежные и профессиональные услуги воздушных и дорожных грузоперевозок в регионах России. Рассчитайте стоимость перевозки и выберите оптимальный тип грузоперевозки с помощью нашего калькулятора.">
    <meta name="keywords" content="воздушные грузоперевозки, дорожные грузоперевозки, стоимость перевозки, калькулятор грузоперевозок, грузоперевозки в России, грузоперевозки в Москве, грузоперевозки из Москвы, грузоперевозки в Московской области, грузовой терминал Москва">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(33471873, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
    <noscript><div><img src="https://mc.yandex.ru/watch/33471873" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header_content">
                <a href="/" class="header_content_logo">
                    <img src="assets/img/logo.svg" alt="">
                </a>
                <div class="header_content_navigation">
                    <nav>
                        <ul class="navigation_ul">
                            <li class="navigation_ul_li">
                                <a href="/">Главная</a>
                            </li>
                            <li id="calc_href" class="navigation_ul_li">
                                <a href="/#calculate">Калькулятор</a>
                            </li>
                            <li class="navigation_ul_li">
                                <a href="/rates">Тарифы</a>
                            </li>
                            <li class="navigation_ul_li">
                                <a href="/request">Заявка</a>
                            </li>
                            <li class="navigation_ul_li">
                                <a href="/about">О компании</a>
                            </li>
                        </ul>
                    </nav>
                    
                </div>
                <button class="header_burger_btn" id="burger">
                    <span></span><span></span><span></span>
                </button>
            </div>
        </div>
    </header>

    <main>
        <section class="banner">
            <div class="container">
                <div class="banner_content">
                    <div class="banner_content_block">
                        <div class="banner_content_text">
                            <h1>ТК Идеал - Грузоперевозки из Москвы по России</h1>
                            <p>Мы предлагает услуги качественной и быстрой транспортировки грузов.</p>
                        </div>
                        <a class="btn_services" href="/services">Наши услуги</a>

                        <div class="banner_content_services">
                            <a href="/auto" class="banner_service_card">
                                <img class="img_card" src="/assets/img/truck.svg" alt="">
                                <div class="banner_service_card_text">
                                    <h1>Дорожные</h1>
                                    <p>перевозки</p>
                                </div>
                            </a>

                            <a href="/air" class="banner_service_card">
                                <img class="img_card" src="/assets/img/truck.svg" alt="">
                                <div class="banner_service_card_text">
                                    <h1>Авиа</h1>
                                    <p>перевозки</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="dignitys">
            <div class="container">
                <div class="dignity_content">
                    <div class="dignity_text">
                        <h1>Доступные тарифы</h1>
                        <p>На любой вид транспортировки груза</p>
                    </div>
                    <div class="dignity_text">
                        <h1>Наличие опыта</h1>
                        <p>Имеем опыт работы с 2016 года</p>
                    </div>
                    <div class="dignity_text">
                        <h1>Гарантия качества</h1>
                        <p>Полное соблюдение правил транспортировки товаров</p>
                    </div>
                    <div class="dignity_text">
                        <h1>Скидки</h1>
                        <p>Предоставление скидок при долгосрочном сотрудничестве</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="calculate" class="calculate">
            <div class="container">
                <div class="calculate_content">
                    <div class="calculator">
                        <div class="container_calculator">
                            <div class="calculator_content">
                                <h1>Калькулятор авиаперевозки из Москвы</h1>
                                <form id="myForm" th:action="@{/}" method="post" th:object="${calc}">

                                    <div class="from_where">
<!--                                        <div class="from_where_select_block">-->
<!--                                            <p>Пункт отправления</p>-->
<!--                                            <select class="from_where_select">-->
<!--                                                <option selected disabled value="select">Выбрать</option>-->
<!--                                                <option value="road_type">Москва</option>-->
<!--                                            </select>-->
<!--                                        </div>-->
<!--                                        <img src="/assets/img/vector.svg" alt="">-->
                                        <div class="from_where_select_block">
                                            <p>Пункт назначения</p>
                                            <select class="from_where_select" name="from_sending" th:field="*{city}">
                                                <option th:selected="selected" value="">Выбрать</option>
                                                <option th:each="r : ${rate}" th:value="${r.city}" th:text="${r.city}"></option>
                                            </select>
                                        </div>
                                    </div>

                                     <div class="dimensions">
                                        <div class="dimension_block">
                                            <p>Вес, кг</p>
                                            <input th:field="*{weight}" step="any" min="0" type="number" class="dimension_input">

                                        </div>
                                        <div class="dimension_block">
                                            <p>Длинна, м</p>
                                            <input th:field="*{length}" step="any" min="0" type="number" class="dimension_input">

                                        </div>
                                        <div class="dimension_block">
                                            <p>Ширина, м</p>
                                            <input th:field="*{width}" step="any" min="0" type="number" class="dimension_input">

                                        </div>
                                        <div class="dimension_block">
                                            <p>Высота, м</p>
                                            <input th:field="*{height}" step="any" min="0" type="number" class="dimension_input">

                                        </div>

                                        <input id="calc" onclick="calc()" type="submit" value="Расчитать" class="calc_btn">
                                     </div>
                                    <div class="errors">
                                        <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
                                        <span th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></span>
                                        <span th:if="${#fields.hasErrors('length')}" th:errors="*{length}"></span>
                                        <span th:if="${#fields.hasErrors('width')}" th:errors="*{width}"></span>
                                        <span th:if="${#fields.hasErrors('height')}" th:errors="*{height}"></span>
                                    </div>
                                     <div class="price">
                                        <p id="result" th:text="${result}"></p>
                                     </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <img class="person" src="/assets/img/person.png" alt="">
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <div class="footer_content">
                <div class="info_company">
                    <img src="/assets/img/logo2.png" alt="">
                    <div class="text_info_block">

                        <div class="text_info">
                            <h1>Адрес:</h1>
                            
                            <p>Московская обл., Аэропорт Домодедово, грузовой терминал</p>
                        </div>

                        <div class="text_info">
                            <h1>Email:</h1>
                            <p>info@aviaperevozki.pro</p>
                        </div>

                        <div class="text_info">
                            <h1>Телефон:</h1>
                            <p>+7 (495) 741-11-23</p>
                        </div>
                        
                    </div>
                </div>

                <div class="footer_url">
                    <h1>Сервисы</h1>
                    <nav>
                        <ul class="footer_ul">
                            <li class="footer_ul_li">
                                <a href="/auto">Дорожные перевозки</a>
                            </li>

                            <li class="footer_ul_li">
                                <a href="/air">Воздушные перевозки</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="footer_url">
                    <h1>Соцсети</h1>
                    <nav>
                        <ul class="footer_ul">
                            <li class="footer_ul_li">
                                <a href="">Вконтакте</a>
                            </li>

                            <li class="footer_ul_li">
                                <a href="">Telegram</a>
                            </li>

                            <li class="footer_ul_li">
                                <a href="">WhatsApp</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div id="map-test" class="map"></div>
            </div>
        </div>
    </footer>
</body>
</html>



